* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1rem;
}

/**Utilities**/
h1,
h2 {
  font-family: "Yeseva One", cursive;
}
h2 {
  font-size: 3rem;
}

button {
  color: white;
  background-color: rgb(212, 110, 42);
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
}

span {
  color: rgb(212, 110, 42);
}
/**header**/

header {
  background-image: url(./image-rotated.jpg);
  /* background-repeat: no repeat; */
  background-size: cover;
  padding: 10px 30px 200px;
}

header h1 {
  font-size: 6rem;
}

nav ul {
  display: flex;
  justify-content: right;
  gap: 30px;
  padding-left: 0;
  padding-right: 150px;
  padding-bottom: 10px;
}

nav li a {
  text-transform: none;
  list-style: none;
}
nav li {
  list-style: none;
}

.nav-icon {
  width: 20px;
}

.hero {
  width: 50%;
  margin-left: 50px;
}

input {
  padding: 8px 30px;
}

/**story section**/
.story-section {
  display: flex;
  height: 200%;
}
.story {
  padding: 100px 50px;
  width: 50%;
}
.story h2 {
  margin-top: 0;
}

.white {
  background-image: url(./image23.jpg);
  background-size: cover;
  width: 50%;
}

/**Menu section**/

.menu-section {
  background-color: aliceblue;
  padding: 5% 0 5%;
}
.section--header {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  /* margin-top: 5%; */
}

.section--header h2 {
  margin-top: 2%;
}

.menu-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-container img {
  width: 20%;
}

.meal-type--container {
  display: flex;
  width: 50%;
  margin: 3% auto;
  justify-content: space-between;
  text-align: center;
}

.meal-type {
  border-bottom: 2px solid rgb(189, 187, 187);
  width: 100%;
  padding: 1.5%;
  color: rgb(63, 63, 63);
  cursor: pointer;
}

.active {
  border-bottom: 2px solid rgb(212, 110, 42);
}

/**Opening Hours section**/
.hours-section {
  padding: 5% 0 5%;
}

.hours-info {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.phone-number {
  font-size: 2.5rem;
  color: rgb(212, 110, 42);
  font-family: "Yeseva One", cursive;
}

.hours {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hours-styling {
  font-size: 1.7rem;
  font-family: "Yeseva One", cursive;
}

.hours-img {
  display: block;
  width: 60%;

  margin: 0 auto;
}

/*Testimonials*/

.testimonial-headshot {
  display: block;
  border-radius: 50%;
  width: 15%;
  margin: 0 auto;
}

.testimonials {
  text-align: center;
}
